[DEFAULT]
webhook_service = discord
timeout = 300
pids_threshold = 100
mem_threshold = 70.0
disk_threshold = 50.0
cpu_threshold = 50.0
temperature_threshold = 85.0

[slack]
url = https://hooks.slack.com/services/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

[discord]
url = https://discordapp.com/api/webhooks/776544310291857408/Tv3vgNBR3X1n8dBdW52lUirbzSSv4T7EbFUUCeccLZ_RZ2VpxMVKuC4lUhxXiiMf5g3-
